-
	var deviceArray = [
		['Tilt Left/Right [gamma]','doTiltLR'],
		['Tilt Front/Back [beta]','doTiltFB'],
		['Direction [alpha]','doDirection'],
		['API used','moApi'],
		['linear acceleration (excl. gravity)','moAccel'],
		['acceleration incl. gravity','moAccelGrav'],
		['rotation rate','moRotation'],
		['interval (ms)','moInterval']
	]
mixin pTag(string, idName, isUnknown)
	div= string
		b(id=idName)= isUnknown===0 ? 'unknown' : 'not available'
		|.
mixin deviceMotion
	#DeviceMotion
		div Device Motion
		each item, i in deviceArray
			div
				div= deviceArray[i][0]
				div(id=deviceArray[i][1])
		.container
			#logoContainer
				#imgLogo
doctype
html(lang='en')
	head
		title Device Fearture
		include meta
		script(type='text/javascript' src='./js/ambientLightSensor.js')
		script(type='text/javascript' src='./js/vibration.js')
		style
			include style.css
		script
			include swScript.js
	body.brightLight
		main
			#title
				div This is what HTML5 can do on mobile device
			#onlineStatus 
				div Online Status
				+pTag('Initial connection state was ','isOnline', 0)
				#networkState
			#networkTypeSpeed
				div Network Type & Speed
				+pTag('Current theoretical network type is ','networkType', 1)
				+pTag('Current effective network type is ','effectiveNetworkType', 1)
				+pTag('Current max downlink speed is ','downlinkMax', 0)
			#batteryStatus
				div Battery Status
				div.battery Initial battery status was 
					b#charging unknown
					|,
				div charging time 
					b#chargingTime unknown
					|,
				div discharging time  
					b#dischargingTime unknown
					|,
				div Battery level 
					b#level unknown
					|.
				#batteryUpdate
			#deviceMemory
				div Device Memory
				div Your device memory is 
					b#result unknown
					|  Gib.
				div Estimated storage usage is 
					b#usage unknown
					|  bytes.
				div Estimated storage quota is 
					b#quota unknown
					|  bytes.
				div Estimated usage is 
					b#percent unknown
					|  %.
			#foregroundDetection
				div Foreground Detection
				div Initial page visibility was 
					|
					b#foreDetect unknown
					|.
				div#foreDetectLog1
				div#foreDetectLog2
				small Based on demo from  
					a(href='https://developer.mozilla.org/en-US/docs/Web/API/Page_Visibility_API') MDN
					|.
			#ambientLightSensor
				div Ambient Light Sensor
				.ligntSensorLog
				.ligntSensorLog
			#mediaCapture
				div Media Capture
				div#mediaContainer
					.mediaBtn
						|
						include ./images/camera.svg
						input(type='file',accept='image/*',id='capture',capture='camera')
					.mediaBtn
						|
						include ./images/mic.svg
						input(type='file',accept='audio/*',id='capture',capture='microphone')
					.mediaBtn
						|
						include ./images/recorder.svg
						input(type='file',accept='video/*',id='capture',capture='camcoder')
			#fileAccess
				div File Access
				div Choose some files 
					input(type='file', onchange='handleFiles(this.files)' multiple)
				div Number of selected files: 
					b#fileCount N/A
				ul#fileLog
			#permission
				div Permissions
				div
					div Geolocation is 
						button#geolocation-status(onlick='requestGeolocation()') unknown
						|.
					div Notifications is 
						button#notifications-status(onclick="requestNotifications()") unknown
						|.
					div Push is 
						button#push-status(onclick="requestPush()") unknown
						|.
					div Midi is 
						button#midi-status(onclick="requestMidi()") unknown
						|.	
					div Camera is 
						button#camera-status(onclick="requestCamera()") unknown
						|.	
					div Microphone is 
						button#microphone-status(onclick="requestMicrophone()") unknown
						|.		
					div Background Sync is 
						b#background-sync-status unknown
						|.				
					div Accelerometer is 
						b#accelerometer-status unknown
						|.			
					div Gyroscope is 
						b#gyroscope-status unknown
						|.				
					div Magnetometer is 
						b#magnetometer-status unknown
						|.		
					#permissionLog
			#touchGestures
				div Touch Gestures
				div#dragBox
					.dragElement
					.dragElement
					.dragElement
					.dragElement
					.dragElement
				small Based on demo from
					a(href='https://www.quirksmode.org/m/tests/drag2.html') QuirksMode.org
					|.
			#screenLockOrientation 
				div Screen Lock & Orientation
				div
					#deviceImage
					div Current screen orientation is 
						b#orientationType unknown
						|.
				div
					button#lock Lock in current orientation
					button#unlock Release the lock
				#screenLockLog
			#fullscreen
				div Full Screen
				div
					button#startFull.start Start fullscreen
					button#exitFull Exit fullscreen
				div
					button#startBox.start Fullscreen the green box
					#box THE BOX
				#fullLog
			#payment
				div Payment
				button(onclick='donate()') Donate 10€ to What Web Can Do 😉
				div (demo only, no actual payment is processed)
				small Demo base on 
					a(href='https://googlechrome.github.io/samples/paymentrequest/credit-cards/') Google Chrome GitHub repository
					|.
				#paymentLog
			#localNotifications 
				div Local Notifications
				div
					|
					button(onclick="nonPersistentNotification()") Non-persistent notification
					button(onclick="persistentNotification()") Persistent notification
			#vibration 
				div Vibration
				button(onclick='vibrateSimple()') Vibrate for 200 ms
				button(onclick='vibratePattern()') Vibrate with pattern
			#geolocation 
				div Geolocation
					button#getGeolocation Ask for location
			+deviceMotion
			#footer
				small Demo from 
					a(href='https://www.html5rocks.com/en/tutorials/device/orientation/', target='_blank', rel='noopener') HTML5 Rocks
					|  article.
			script(type='text/javascript' src='./js/networkState.js')
			script(type='text/javascript' src='./js/networkSpeed.js')
			script(type='text/javascript' src='./js/batteryStatus.js')
			script(type='text/javascript' src='./js/deviceMemory.js')
			script(type='text/javascript' src='./js/geolocation.js')
			script(type='text/javascript' src='./js/devicePosition.js')
			script(type='text/javascript' src='./js/deviceMotion.js')
			script(type='text/javascript' src='./js/storageQuotas.js')
			script(type='text/javascript' src='./js/localNotification.js')
			script(type='text/javascript' src='./js/permissions.js')
			script(type='text/javascript' src='./js/foregroundDetection.js')
			script(type='text/javascript' src='./js/payment.js')
			script(type='text/javascript' src='./js/fullscreen.js')
			script(type='text/javascript' src='./js/ScreenOrientationLock.js')
			script(type='text/javascript' src='./js/touchGestures.js')
			script(type='text/javascript' src='./js/fileAccess.js')
			script(type='text/javascript' src='./js/mediaCapture.js')
