-
	var deviceArray = [
		['Tilt Left/Right [gamma]','doTiltLR'],
		['Tilt Front/Back [beta]','doTiltFB'],
		['Direction [alpha]','doDirection'],
		['API used','moApi'],
		['linear acceleration (excl. gravity)','moAccel'],
		['acceleration incl. gravity','moAccelGrav'],
		['rotation rate','moRotation'],
		['interval (ms)','moInterval']
	]
mixin pTag(string, idName, isUnknown)
	p= string
		b(id=idName)= isUnknown===0 ? 'unknown' : 'not available'
		|.
mixin deviceMotion
	#DeviceMotion
		each item, i in deviceArray
			div
				div= deviceArray[i][0]
				div(id=deviceArray[i][1])
		.container#logoContainer
			img#imgLogo(src='https://www.w3.org/html/logo/downloads/HTML5_Badge_512.png', alt='HTML5')
doctype
html(lang='en')
	head
		title Device Fearture
		include meta
		script(type='text/javascript' src='./vibration.js')
		style
			include style.css
		script
			include swScript.js
	body
		main
			+pTag('Initial connectio state was ','status', 0)
			#networkState
			+pTag('Current theoretical network type is ','networkType', 1)
			+pTag('Current effective network type is ','effectiveNetworkType', 1)
			+pTag('Current max downlink speed is ','downlinkMax', 0)
			p.battery Initial battery status was 
				b#charging unknown
				|, charging time 
				b#chargingTime unknown
				|, discharging time  
				b#dischargingTime unknown
				|, level
				b#level unknown
				|.
			#BatteryStatus
			p Your device memory is 
				b#result unknown
				|  Gib.
			p Estimated storage usage is 
				b#usage unknown
				|  bytes.
			p Estimated storage quota is 
				b#quota unknown
				|  bytes.
			p Estimated usage is 
				b#percent unknown
				|  %.
			div#localNotifications
				p Current permission status is 
					|
					b#noticeStatus unavailable
					|.
				p
					|
					button.btn.btn-default(onclick="requestPermission()") Request premission
				p
					|
					button.btn.btn-default(onclick="nonPersistentNotification()") Non-persistent notification
				p
					|
					button.btn.btn-default(onclick="persistentNotification()") Persistent notification
			div#vibration 
				div Vibration
				.btn(onclick='vibrateSimple()') Vibrate for 200 ms
				.btn(onclick='vibratePattern()') Vibrate with pattern
			div#geolocation Geolocation
				.btn#getGeolocation Ask for location
			+deviceMotion
			p
				small Demo from 
					a(href='https://www.html5rocks.com/en/tutorials/device/orientation/', target='_blank', rel='noopener') HTML5 Rocks
					|  article.
			script(type='text/javascript' src='./networkState.js')
			script(type='text/javascript' src='./networkSpeed.js')
			script(type='text/javascript' src='./batteryStatus.js')
			script(type='text/javascript' src='./deviceMemory.js')
			script(type='text/javascript' src='./geolocation.js')
			script(type='text/javascript' src='./devicePosition.js')
			script(type='text/javascript' src='./deviceMotion.js')
			script(type='text/javascript' src='./storageQuotas.js')
			script(type='text/javascript' src='./offlineStorage.js')