-
	var iconArr = [
		['16x16','icons/icon_16.png'],
		['48x48','icons/icon_48.png'],
		['57x57','icons/icon_57.png'],
		['60x60','icons/icon_60.png'],
		['72x72','icons/icon_72.png'],
		['76x76','icons/icon_76.png'],
		['96x96','icons/icon_96.png'],
		['114x114','icons/icon_114.png'],
		['120x120','icons/icon_120.png'],
		['144x144','icons/icon_144.png'],
		['152x152','icons/icon_152.png'],
		['180x180','icons/icon_180.png'],
		['192x192','icons/icon_192.png'],
		['512x512','icons/icon_512.png']
	]
mixin linkTag(rel,href,type,sizes)
	each item, i in iconArr
		link(rel='icon', type='image/png', sizes= iconArr[i][0], href= iconArr[i][1])
		link(rel='apple-touch-icon', type='image/png', sizes= iconArr[i][0], href= iconArr[i][1])
+linkTag
meta(name='mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='application-name', content='DeviceFeatures')
meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
meta(name='msapplication-starturl', content='https://themanman999.github.io/DeviceFeatures/')
meta(name='Description', content='Leo"s 3rd PWA Project')
meta(name='apple-mobile-web-app-title', content='DeviceFeatures')
meta(name='theme-color', content='#ccc')
meta(name='msapplication-navbutton-color', content='#ccc')
meta(name='msapplication-TileColor' content='#ccc')
meta(name='msapplication-TileImage' content='icons/icon_144.png')
meta(name='viewport', content='width=device-width', initial-scale='1', shrink-to-fit='no')
link(rel='manifest', href='manifest.json')