meta(name='mobile-web-app-capable', content='yes')
meta(name='apple-mobile-web-app-capable', content='yes')
meta(name='application-name', content='DeviceFeatures')
meta(name='apple-mobile-web-app-title', content='DeviceFeatures')
meta(name='theme-color', content='#ccc')
meta(name='msapplication-navbutton-color', content='#ccc')
meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
meta(name='msapplication-starturl', content='https://themanman999.github.io/DeviceFeatures/')
meta(name='Description', content='Leo"s 3rd PWA Project')
