body{margin: 0 auto;}
p,.btn,#officeStorage{height: 50px;}
p,.btn,#officeStorage,#geolocation,#localNotifications{width: 500px; margin: 10px auto; padding: 5px; border: 1px solid; border-radius: 5px;}
p,.btn,#geolocation,#localNotifications, #officeStorage div:nth-child(1){text-align: center;}
p,.btn{line-height: 50px;}
#officeStorage{height:260px !important;}
#officeStorage .btn-group button{width:49.5% !important; outline:none;}
#officeStorage .btn-group,#officeStorage p, #geolocation div, #localNotifications div, #localNotifications button{width:auto !important;}
#localNotifications button{height:auto;}
.container {perspective:300; -webkit-perspective:300;}
#imgLogo { width:275px; margin-left:auto; margin-right:auto; display:block; padding:15px;}
.btn {background: #ccc; box-shadow: 2px 2px;}
.battery,#officeStorage .btn-group button, #officeStorage p:nth-child(2){line-height: 25px;}
#vibration,#DeviceMotion{display:none;}
#footer{padding:0; line-height:25px;}
@media screen and (max-width:600px){
	p, .btn,#officeStorage,#geolocation,#vibration,#DeviceMotion,#localNotifications{width: auto; height: auto !important; margin:15px; padding: 10px 5px;}	
	#officeStorage .btn-group button{width:41% !important;}
	#vibration,#DeviceMotion{display:block !important; border: 1px solid; border-radius: 5px;}
	#vibration div{width:38% !important; display:inline-block;}
	#vibration div:nth-child(1){width:100% !important; text-align:center;}
	#DeviceMotion > div{display:-webkit-box;}
	#DeviceMotion > div:nth-child(1){text-align:center; width:fit-content; margin:10px auto;}
	#DeviceMotion > div > div{width:50%;}
	#DeviceMotion img{width:200px !important; height:200px !important;}
}
@media screen and (max-width:480px){
	#officeStorage .btn-group button{width:40% !important; font-size:small !important;}	
	#vibration div:not(:nth-child(1)){width:36% !important; font-size:small !important;}
	#localNotifications button{width:33% !important; line-height:25px;}
	#localNotifications button:nth-child(1){width:50% !important;}
}