body{margin: 0 auto;}
p,.btn{border: 1px solid; border-radius: 5px; width: 500px; height: 50px; line-height: 50px; margin: 10px auto; padding: 5px; text-align: center;}
 .container { perspective:300; -webkit-perspective:300;}
 #imgLogo { width:275px; margin-left:auto; margin-right:auto; display:block; padding:15px;}
 .btn {background: #ccc; box-shadow: 2px 2px;}
 .battery{line-height: 25px;}
 #DeviceMotion > div{display:-webkit-box;}
 #DeviceMotion > div > div{width:50%;}
 @media screen and (max-width:600px){
  p, .btn{width: auto; height: auto; margin:15px; padding: 10px 5px;}
 }